{% load staticfiles %}
{% load markdownify %}
<html>
    <head>
        <title>Pete's Blog</title>
        <link rel="stylesheet" href="{% static 'css/helloworld.css' %}">
        <link rel="stylesheet" href="{% static 'css/friendly.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="">Pete's Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <h4><a href="">{{ post.title }}</a></h4>
                <p>published: {{ post.published_date }}</p>
                <p>{{ post.text | markdown | safe }}</p>
            </div>
        {% endfor %}
    </body>
</html>